<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="PlanIt" connectionString="metadata=res://*/PlanItEntities.csdl|res://*/PlanItEntities.ssdl|res://*/PlanItEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MOLOCHII-PC\SQLEXPRESS;initial catalog=PlanIt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>