
@{
    ViewBag.Title = "About";
}

<!-- Header -->
<div class="auth-background">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 intro-about">
            <h2>PlanIt</h2>
            <hr class="intro-divider">
            <h3 class="text-center">PlanIt system is a usefull service for managing future plans, ideas, intensions.</h3>
            <h4 class="text-justify">We provide an easy way for describing planning data: you can systemise your ideas, set time borders and enjoy the functionallity. Also it is possible to share plan to any other user and start achieving your goals together. The main aim of our project is to make the planning process easier and more maintainable.</h4>
            <h4 class="text-center"></h4>
            <h3>So, you want to achieve something?</h3>
            <h2>Just PlanIt!</h2>
        </div>
    </div>
</div>

