@model PlanIt.Entities.User

@{
    ViewBag.Title = "Use";
}

<div class="well-lg">
    <table>
        <tbody>
            <tr>
                <td>Id</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Model.Password</td>
            </tr>
            <tr>
                <td>Is email confirmed</td>
                <td>@Model.IsEmailConfirmed</td>
            </tr>
        </tbody>
    </table>
</div>