@model PlanIt.Web.Models.PlanIndexViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var plan in Model.Plans)
    {
         @Html.Partial("PlanSummary", plan)
    }
</body>
</html>
